@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
